.umi
node_modules
qe-admin/src/.umi-production
schedule-api/ormconfig.json
schedule-api/.env
qe-admin/.env
qe-admin/dist
qe-admin/config/proxy.ts
qe-admin/config/config.prd.ts
qe-admin/config/config.ts
qe-admin/config/config.dev.ts
qe-admin/data/lsq_users.json
qe-admin/data/prms.json
qe-admin/data/collection_agent.json
qe-admin/data/call_disposition.json
.vscode/settings.json
package-lock.json
.sample
schedule-api/ormlogs.log
schedule-api/src/data/lessons.json
