@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

// TODO: Edit This Temporary Duplicated Menu Solution, To Solve The Root Problem.
.ant-menu-submenu:nth-of-type(2){ display: none; }
.ant-pro-global-header-layout-mix, .ant-menu {
  background-color: #1f3696 !important;
}
.ant-menu-item a, .ant-pro-menu-item, .ant-menu-submenu-arrow, .anticon-menu-fold {
  color: #fff !important;
}
.ant-menu-item-selected .ant-pro-menu-item{
  color: #1f3696 !important;
  font-weight: 600;
}
.ant-menu-submenu-title {
  display: none !important;
}
.ant-menu-item-selected {
  background-color: #fff !important;
}
.ant-pro-page-container-children-content {
  margin: 5px 5px 0px !important
}
.ant-page-header {
  padding: 5px 25px !important
}
.ant-pro-table .ant-pro-table-search {
  margin-bottom: 5px;
  padding: 12px;
}
.ant-pro-table-list-toolbar-container {
  padding: 5px 0px !important;
}
.ant-table-cell {
  padding: 8px !important
}
.ant-menu-inline .ant-menu-item-selected::after {
  opacity: 0;
}