/* date */
input[type="date"]::before {
  margin-right: 0.5em;
  color: #aaa;
  content: attr(placeholder) !important;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

.inputfile {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}

.inputfile + label {
  display: inline-block;
  width: 348px;
  color: grey;
  border: 1px solid #ccc;
}

ul,
ol {
  list-style: revert;
}

.exerciseContainer {
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.sectionContainer {
  padding: 0.5em;
  border: 1px dotted #cecbff;
  border-radius: 0.5em;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 600;
}

.ant-btn {
  margin-top: 0.5em;
}

.anticon-close-circle {
  color: #9d2525;
}

#mobileDevice {
  margin-top: -40px;
}

.question-image {
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin: 10px 0;
}

.image_overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.image_overlay:hover {
  opacity: 1;
}

div.ant-upload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: dashed 1px #ccc;
  border-radius: 15px;
  cursor: pointer;
}

.custom-file-upload:hover {
  color: dodgerblue;
  border: dashed 1px dodgerblue;
}

.overlay-props {
  margin: 10px;
  padding: 10px;
}

.overlay-props:hover {
  color: dodgerblue;
}
