#RichEditorImagesUpload {
  position: relative;
}

#RichEditorImagesUpload input {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}

#spaceContainer .ant-space-item {
  width: 100%;
}

#LessonScriptEditor .ql-editor > p:first-child {
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: center;
  width: 100%;
}

#LessonScriptEditor .ql-editor > p img {
  flex: 1;
  max-width: 200px;
}
