// https://umijs.org/config/
import { defineConfig } from "umi";

export default defineConfig({
  define: {
    AZURE_CODE: "3oRefSONemrd2HatnbHfHLfPMat2fgi2kakJHrCDHhXbmhfDSQ6r8Q==",
    AZURE_URL: "https://ed-uat-functions.azurewebsites.net/",
    ZOOM_GENERIC_LINK: "https://admin.thequeensenglish.co/be/"
  },

  plugins: [
    // https://github.com/zthxxx/react-dev-inspector
    "react-dev-inspector/plugins/umi/react-inspector",
  ],
  // https://github.com/zthxxx/react-dev-inspector#inspector-loader-props
  inspectorConfig: {
    exclude: [],
    babelPlugins: [],
    babelOptions: {},
  },
});
