.label{
    margin: 25px;
}
.title{
    font-size: large;
    font-weight: 400;
    margin-left: 10px;
}

.ant-picker-time-panel-cell-disabled{
    display: none;
}

.batch-select-student-form > .ant-row > .ant-col{
    flex: 0 0 50%;
}

.batch-select-student-form > .ant-row > .ant-col .ant-pro-form-collapse-button{
    display: none;
}
.viewStudentTable .ant-table-cell {
    padding: 8px 8px !important;
}