/* date */
input[type='date']::before {
  margin-right: 0.5em;
  color: #aaa;
  content: attr(placeholder) !important;
}
input[type='date']:focus::before,
input[type='date']:valid::before {
  content: '';
}

.inputfile {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
}

.inputfile + label {
  display: inline-block;
  width: 348px;
  color: grey;
  border: 1px solid #ccc;
}

.ant-drawer-body {
  padding: 2px 8px;
}
/*8ac9ff*/
.batchDetailsTable thead>tr>th{
  background: #8ac9ff !important;
  padding: 4px !important;
}
.batchDetailsTable .ant-table-cell {
  text-align: center;
}
.ant-pro-table-alert {
  padding-bottom: 0px !important;
  width: 50% !important;
  position: absolute;
}