# JWT Secret Token
JWT_TOKEN_SECRET=test1234
# Azure API Functions Connection URL
COSMOS_URL=https://ed-uat-functions.azurewebsites.net
# Azure API Functions Connection Secret
COSMOS_CODE=
# LSQ API Connection URL
LSQ_URL=https://api-in21.leadsquared.com/v2/LeadManagement.svc
# LSQ API Connection Key
LSQ_ACCESS_KEY=
# LSQ API Connection Secret
LSQ_SECRETKEY=
# Variable to use LSQ or Not
USE_LSQ=
# Razorpay Client Key
RAZORPAY_KEY_ID=
# Razorpay Client Secret
RAZORPAY_KEY_SCERET=
# Local API Protection Key (For Jobs API)
API_KEY=
# Logs API URL
LOGS_API=
# Local API Protection Key
LOGS_API_KEY=
# env
NODE_ENV =production
# API Key Of Zoom API
ZOOM_API_KEY=
# API Secret Of Zoom API
ZOOM_API_SECRET=
# MongoDB URL
MONGODB_URL=
# Should update student unique code automatically
AUTO_RUN_GENERATE_STUDENT_CODE_DYNAMICALLY=
# Storage Access Info
STORAGE_ACCOUNT_NAME=
STORAGE_ACCOUNT_KEY=
# AWS Storage Info
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=