JWT_TOKEN_SECRET=test1234
COSMOS_URL=https://ed-uat-functions.azurewebsites.net
COSMOS_CODE=
LSQ_URL=https://api-in21.leadsquared.com/v2/LeadManagement.svc
LSQ_ACCESS_KEY=
LSQ_SECRETKEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SCERET=
API_KEY=